[submodule "modules/zsh/zsh-syntax-highlighting"]
	path = modules/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master
[submodule "modules/zsh/ZPrompt"]
	path = modules/zsh/ZPrompt
	url = https://github.com/ozelentok/ZPrompt.git
	branch = master
[submodule "modules/neovim/gnu-global/global"]
	path = modules/neovim/gnu-global/global
	url = https://aur.archlinux.org/global.git
	branch = master
