[submodule "dotfiles/theme"]
	path = dotfiles/theme
	url = https://github.com/ozelentok/dotfiles-theme
[submodule "dotfiles/zsh/zsh-vi-mode"]
	path = dotfiles/zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
