set $mod Mod4
default_border pixel 1
font pango: Noto Sans Bold 12
floating_modifier $mod
focus_follows_mouse no

# Change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# Move focused window
bindsym $mod+Shift+H move left
bindsym $mod+Shift+J move down
bindsym $mod+Shift+K move up
bindsym $mod+Shift+L move right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# Split horizontal/vertical
bindsym $mod+o split h
bindsym $mod+v split v

# Enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# Change container layout: stacked, tabbed, default
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout default

# Toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# Change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# Focus the parent/child container
bindsym $mod+a focus parent
bindsym $mod+z focus child

# Switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10
bindsym $mod+Tab workspace back_and_forth

# Move focused container to workspace
bindsym $mod+Shift+exclam move workspace 1
bindsym $mod+Shift+at move workspace 2
bindsym $mod+Shift+numbersign move workspace 3
bindsym $mod+Shift+dollar move workspace 4
bindsym $mod+Shift+percent move workspace 5
bindsym $mod+Shift+asciicircum move workspace 6
bindsym $mod+Shift+ampersand move workspace 7
bindsym $mod+Shift+asterisk move workspace 8
bindsym $mod+Shift+parenleft move workspace 9
bindsym $mod+Shift+parenright move workspace 10

# Reload the configuration file
bindsym $mod+Shift+C reload
# Restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+R restart
# Exit i3 (logs you out of your X session)
bindsym $mod+Shift+E exit

# Resize window (you can also use the mouse for that)
mode "resize" {
	# These bindings trigger as soon as you enter the resize mode

	# They resize the border in the direction you pressed, e.g.
	# when pressing left, the window is resized so that it has
	# more space on its left

	bindsym h resize shrink left 5 px or 5 ppt
	bindsym Shift+H resize grow left 5 px or 5 ppt
	bindsym j resize shrink down 5 px or 5 ppt
	bindsym Shift+J resize grow down 5 px or 5 ppt
	bindsym k resize shrink up 5 px or 5 ppt
	bindsym Shift+K resize grow up 5 px or 5 ppt
	bindsym l resize shrink right 5 px or 5 ppt
	bindsym Shift+L resize grow right 5 px or 5 ppt

	# Same bindings, but for the arrow keys
	bindsym Left resize shrink left 5 px or 5 ppt
	bindsym Shift+Left resize grow left 5 px or 5 ppt
	bindsym Down resize shrink down 5 px or 5 ppt
	bindsym Shift+Down resize grow down 5 px or 5 ppt
	bindsym Up resize shrink up 5 px or 5 ppt
	bindsym Shift+Up resize grow up 5 px or 5 ppt
	bindsym Right resize shrink right 5 px or 5 ppt
	bindsym Shift+Right resize grow right 5 px or 5 ppt

	# Back to normal: Enter or Escape
	bindsym Return mode "default"
	bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

#color settings
client.focused          #000000 #303030 #ffffff #111111
client.focused_inactive #000000 #000000 #ffffff #111111
client.unfocused        #303030 #000000 #888888 #111111
client.urgent           #000000 #a0e000 #ffffff #111111

bar {
	i3bar_command i3bar -t
	status_command py3status -s
	tray_output primary
	colors {
		background #00000040
		statusline #70d0ff40
		separator  #60606040

		focused_workspace  #50b0ff #50b0ff #000000
		active_workspace   #000000 #000000 #50b0ff
		inactive_workspace #000000 #000000 #50b0ff
		urgent_workspace   #a0e000 #a0e000 #000000
		binding_mode       #a0e000 #a0e000 #000000
	}
}

# Floating windows
for_window [title="Copying"] floating enable
for_window [title="Moving"] floating enable
for_window [title="Unpack"] floating enable
for_window [class="Doublecmd" title="^$"] floating enable
for_window [title="Testing Archive"] floating enable
for_window [title="Find Subtitles"] floating enable
for_window [title=".*\.kdbx(?!\s\[Locked\])\s-\sKeePassXC"] floating enable

# Refresh py3status
bindsym --release Caps_Lock  exec  --no-startup-id py3-cmd refresh keyboard_locks
bindsym --release Num_Lock   exec  --no-startup-id py3-cmd refresh keyboard_locks

# Close window
bindsym $mod+Shift+q         kill

# Start demnu
bindsym $mod+d               exec --no-startup-id dmenu_run -nb black -nf cyan -fn "Hack Nerd Font Mono-12:style=Bold" -i
bindsym $mod+Shift+D         exec --no-startup-id i3-dmenu-desktop --dmenu="dmenu -nb black -nf cyan -fn 'Hack Nerd Font Mono-12:style=Bold' -i"

bindsym $mod+Return          exec wezterm
bindsym $mod+n               exec doublecmd
bindsym $mod+c               exec firefox-developer-edition

# Volume Keyboard
bindsym XF86AudioLowerVolume exec --no-startup-id "amixer -q set Master 5%-    && py3-cmd refresh volume_status"
bindsym XF86AudioRaiseVolume exec --no-startup-id "amixer -q set Master 5%+    && py3-cmd refresh volume_status"
bindsym XF86AudioMute        exec --no-startup-id "amixer -q set Master toggle && py3-cmd refresh volume_status"
bindsym XF86AudioPlay        exec --no-startup-id "playerctl play-pause"
bindsym XF86AudioNext        exec --no-startup-id "playerctl next"
bindsym XF86AudioPrev        exec --no-startup-id "playerctl previous"
bindcode 192                 exec --no-startup-id "pacmd set-source-mute alsa_input.usb-Jieli_Technology_UACDemoV1.0_FFFFFFFFFFFFFFFF-00.mono-fallback 1 && py3-cmd refresh volume_status"
bindcode 193                 exec --no-startup-id "pacmd set-source-mute alsa_input.usb-Jieli_Technology_UACDemoV1.0_FFFFFFFFFFFFFFFF-00.mono-fallback 0 && py3-cmd refresh volume_status"

# Lock and screen control
bindsym $mod+Control+l       exec i3lock -c 000000
bindsym --release $mod+Control+o   exec --no-startup-id "sleep 0.2 && xset dpms force off"
bindsym $mod+Control+p       exec  --no-startup-id xrandr --output DP-0 --mode 2560x1440 -r 120 --dpi 108
bindsym Print                exec  --no-startup-id "scrot -q 100 '/tmp/0-screenshots/screenshot_%Y%m%d_%H%M%S.png' && notify-send -t 100 Screenshot"
