[Unit]
Description=Call user's sleep target before system sleep
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user --machine=%i@ start --wait pre-sleep.target

[Install]
WantedBy=sleep.target
