[Unit]
Description=Picom X compositor
Documentation=man:picom(1)
ConditionEnvironment=DISPLAY
ConditionEnvironment=XAUTHORITY

[Service]
ExecStart=/usr/bin/picom
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
Type=exec

[Install]
WantedBy=post-sleep.target
